@import url("https://use.typekit.net/jmk3xov.css");

html, body {
  margin: 0;
  height: 100%;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#bg {
  width: 100%;
  height: 100%;
  display: block;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 600;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.toggle-content {
	display: none;
	height: 0;
  	opacity: 0;
	overflow: hidden;
	transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}

.toggle-content.is-visible {
	display: block;
	height: auto;
  	opacity: 1;
}

  header {
    top:0;
    grid-column: 2 / 12;
    font-size: 2rem;
    margin-bottom: var(--spacing);
    text-shadow: 1px 1px black;
    color: #66cc66;
    text-align: center;
  }

  section {
    grid-column: 2 / 12;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
    text-align: center;

  }

  blockquote {
    grid-column: 2 / 12;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 200px;
  }

  blockquote p {
    color: #66cc66;
    background-color: black;
    font-size: 1.5rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

  /*Use this class when you want your content to be hidden*/
.BeforeScroll
{
  height: 100px; /*Whatever you want*/
  width: 100%; /*Whatever you want*/
  
  display: none;
}


/*Use this class when you want your content to be shown after some scroll*/
.AfterScroll
{
  height: 100px; /*Whatever you want*/
  width: 100%; /*Whatever you want*/
  
  display: block;
}